#container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 10px;
        gap: 20px;
    }
    #container>div{
        /* border: 2px solid; */
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        
    }
    #container>div>iframe{
        width: 100%;
    }
    input{
        
        padding:10px;
        width: 300px;
        border-color:gold;
        margin-bottom:60px;
        height:40px;
       
        
    }
    button{
        border-color:gold;
        height:40px;
       
    }

    div{
        /* border: 5px solid; */
        text-align: center;

    }
   h1 {
    text-align: center;
   }

   h1 img {
    width: 200px;
    height: auto; /* keeps original aspect ratio */
    display: block;
    margin: 0 auto; /* centers image */
  }